.h1 {
  color: #04538c;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.h2 {
  color: #04538c;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.h3 {
  color: #161717;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.h4 {
  color: #04538c;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.paragraph {
  color: #161717;
  font-size: 18px;
  text-align: center;
  padding: 30px;
}

.img {
  display: flex;
  align-items: center;
  margin: auto;
}

.button1 {
  background-color: #04538c;
  color: #ffffff;
  border: 3px solid #04538c;
  border-radius: 10px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.button1:hover {
  background-color: #ffffff;
  color: #04538c;
}

.button2 {
  background-color: #ffffff;
  color: #04538c;
  border: 3px solid #04538c;
  border-radius: 10px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: auto;
  align-items: center;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.button2:hover {
  background-color: #04538c;
  color: white;
}

.content,
.content1,
.content2 {
  height: 150px;
  width: 897px;
  margin: auto;
  text-align: center;
}

.content div,
.content1 div,
.content2 div {
  height: 50%;
  width: 500px;
  margin: auto;
  text-align: center;
  gap: 30px;
}
.para {
  color: #161717;
  font-size: 15px;
}

.per {
  font-size: 50px;
  font-weight: bold;
  color: #8ec9c6;
}

/* Flexbox Styles */
.content {
  display: flex;
  flex-wrap: wrap;
}
.content1 {
  display: flex;
  flex-wrap: nowrap;
}
.content2 {
  display: flex;
  flex-wrap: wrap-reverse;
}

.bar {
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 100;
  isolation: isolate;
}
.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #f3fdff;
}
.bar::after {
  content: "";
  background: #8ec9c6;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@-webkit-keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.bar1::after {
  max-width: 78%;
}

.bar2::after {
  max-width: 85%;
}

.bar3::after {
  max-width: 78%;
}

.bar4::after {
  max-width: 74%;
}

.bar5::after {
  max-width: 85%;
}

/* Circle Animation */
.all {
  display: flex;
  margin: auto;
  align-items: center;
}
.circle-wrap {
  grid-gap: 150px;
  width: 150px;
  height: 150px;
  background: #d9d7da;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #ffffff;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: #8ec9c6;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #8ec9c6;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(153deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(153deg);
  }
}

/* 2nd bar */

.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #8ec9c6;
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 3s;
  transform: rotate(117deg);
}

@keyframes fill-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(117deg);
  }
}

/* 3rd progress bar */
.mask .fill-3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #8ec9c6;
}

.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

.footer {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  color: #9faabc;
  margin-top: 100px;
  margin-bottom: 50px;
  overflow: hidden;
}
